@use '@/styles/typography.scss' as types;

.dateDropdown {
  @include types.font-12-regular;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--gray-200);
  border-radius: var(--border-radius-sm);
  padding: 0.375rem 0.5rem 0.375rem 0.625rem;
  color: var(--text-100);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--gray-450);
  }
}
