@use '@/styles/variables.scss' as var;

.settingsPageContent {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 64rem;
  margin: 1.875rem auto 0;
  padding: 0 1rem;

  @media (max-width: var.$tablet-breakpoint) {
    padding: 0 0.5rem;
  }
}

.settingsContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sectionTitle {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-100);
}

.infoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;

  @media (max-width: var.$tablet-breakpoint) {
    grid-template-columns: 1fr;
  }
}

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--text-200);
}

.value {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--text-100);

  &.status {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: var(--border-radius-sm);
    font-size: 0.75rem;
    width: fit-content;

    &.active {
      background-color: var(--green-100);
      color: var(--green-600);
    }
  }
}

.noUser {
  padding: 2rem;
  text-align: center;
  color: var(--text-200);
  font-size: 0.875rem;
}

