@use '@/styles/typography.scss' as types;

.tooltipGradient {
  transform: translateX(-50%);
  position: absolute;
  pointer-events: none;
  width: 3.0625rem;
  height: 3.75rem;
  top: 4.875rem;
  border-radius: var(--border-radius-xl);
  background: var(--chart-cursor-gradient);
}

.tooltipDate {
  position: absolute;
  bottom: 0.25rem;
  pointer-events: none;
  @include types.font-12-semibold;
  color: var(--text-100);
  white-space: nowrap;
  transform: translateX(-50%);
}

.tooltipPoint {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  transform: translate(-50%, -50%);

  .tooltipPointDot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: var(--border-radius-circle);
    border: 2px solid var(--pure-white);
    background-color: var(--tertiary);
  }
}

.tooltipValue {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  transform: translate(-50%, -120%);

  .tooltipValueBox {
    padding: 0.375rem 0.75rem;
    border-radius: var(--border-radius-sm);
    background-color: var(--gray-400);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    .tooltipValueText {
      @include types.font-12-medium;
      color: var(--text-100);
    }
  }
}
