@use '@/styles/typography.scss' as types;

.input {
  display: flex;
  flex: 1;
  flex-direction: column;

  label {
    padding: 0.625rem 0rem;
    @include types.font-14-medium;
    color: var(--text-100);
  }

  .inputField {
    padding: 0.9375rem 1.25rem 1rem 1.25rem;
    border: none;
    background-color: var(--pure-white);
    outline: 1px solid var(--gray-300);
    border-radius: var(--border-radius-lg);
    color: var(--text-300);
    @include types.font-14-medium;

    transition: outline var(--transition);

    &::placeholder {
      color: var(--text-200);
      @include types.font-14-medium;
    }

    &:focus {
      outline: 1px solid var(--primary);
    }

    &:focus-visible {
      outline: 1px solid var(--primary);
    }

    &:disabled {
      background: var(--gray-200);
      cursor: not-allowed;
    }
  }

  .error {
    outline: 1px solid var(--danger);

    &:focus {
      outline: 1px solid var(--danger);
    }
  }

  .errorMessage {
    padding: 0.375rem 0rem 0rem 0rem;
    color: var(--danger);
    @include types.font-12-regular;
  }
}
