@use '@/styles/typography.scss' as types;

.authNavigation {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  flex-wrap: wrap;

  .authNavigationText {
    @include types.font-14-regular;
    color: var(--text-200);
  }
}
