@use '@/styles/typography.scss' as types;
@use '@/styles/variables.scss' as var;

.summaryCard {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  padding: 1.5rem 1.25rem;
  background-color: var(--gray-200);
  border-radius: var(--border-radius-lg);
  cursor: pointer;

  .defaultIcon,
  .defaultPrice {
    transition:
      opacity var(--transition),
      visibility var(--transition);
  }

  .trendIcon,
  .changedPrice,
  .percentage {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition:
      opacity var(--transition),
      visibility var(--transition);
  }

  &:hover {
    .defaultIcon,
    .defaultPrice {
      opacity: 0;
      visibility: hidden;
    }

    .trendIcon,
    .changedPrice,
    .percentage {
      opacity: 1;
      visibility: visible;
    }
  }

  .icon {
    position: relative;
    width: 2.625rem;
    height: 2.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-circle);
    background-color: var(--gray-450);
  }

  .info {
    width: 7.8125rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .title {
      @include types.font-14-regular;
      color: var(--text-200);
    }

    .price {
      position: relative;
      @include types.font-24-bold;
      color: var(--text-100);
      height: 1.875rem;

      .defaultPrice,
      .changedPrice {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: clamp(1rem, 2vw, 1.5rem);
        transition: opacity var(--transition);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      .percentage {
        position: absolute;
        top: -0.5rem;
        left: 0;
        @include types.font-10-bold;
        color: var(--success);

        &.down {
          color: var(--danger);
        }
      }
    }
  }

  &.featured {
    background-color: var(--key-black);

    &:hover {
      .icon {
        fill: var(--primary);
      }
    }

    .icon {
      background-color: var(--key-dark);
      color: var(--primary);
    }

    .info > .price {
      .defaultPrice,
      .changedPrice {
        color: var(--pure-white);
      }
    }
  }

  @media (max-width: var.$desktop-breakpoint-md) {
    flex: 1 1 calc(50% - 0.625rem);
    min-width: 0;
  }

  @media (max-width: var.$mobile-breakpoint) {
    flex: 1 1 100%;
    width: 100%;
  }
}
