@use '@/styles/variables.scss' as var;

.invoicesPageContent {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 64rem;
  margin: 1.875rem auto 0;
  padding: 0 1rem;

  @media (max-width: var.$tablet-breakpoint) {
    padding: 0 0.5rem;
  }
}

.invoicesTable {
  width: 100%;
  overflow-x: auto;

  .table {
    width: 100%;
    table-layout: fixed;
    overflow: auto;
    border-spacing: 0;

    .thead {
      th {
        padding-bottom: 0.3125rem;
        font-size: 0.75rem;
        font-weight: 600;
        color: var(--text-200);
      }
    }

    .tbody {
      tr {
        &:last-child {
          .td {
            border-bottom: none;
          }
        }
      }
    }

    .td {
      padding: 0.9375rem 0rem 0.75rem 0rem;
      font-size: 0.875rem;
      font-weight: 500;
      border-bottom: 1px solid var(--gray-300);

      &:nth-child(odd) {
        font-weight: 600;
        color: var(--text-100);
      }

      &:nth-child(even) {
        color: var(--text-200);
      }
    }

    .alignLeft {
      text-align: left;
    }

    .alignCenter {
      text-align: center;
    }
  }

  .nameColumn {
    width: 13.75rem;
  }

  .status {
    padding: 0.25rem 0.75rem;
    border-radius: var(--border-radius-sm);
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: capitalize;

    &.pending {
      background-color: var(--yellow-100);
      color: var(--yellow-600);
    }

    &.completed {
      background-color: var(--green-100);
      color: var(--green-600);
    }

    &.cancelled {
      background-color: var(--red-100);
      color: var(--red-600);
    }
  }

  @media (max-width: var.$tablet-breakpoint) {
    .table {
      .nameColumn {
        width: 10rem;
      }
    }
  }

  .skeletonRow {
    .skeletonCell {
      padding: 1rem 0.625rem;

      .skeletonContent {
        height: 1rem;
        border-radius: var(--border-radius-sm);

        &.name {
          display: flex;
          align-items: center;
          gap: 0.625rem;
          height: auto;
          background: none;

          .skeletonAvatar {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: var(--border-radius-circle);
            flex-shrink: 0;
          }

          .skeletonText {
            display: flex;
            flex-direction: column;
            gap: 0.375rem;
            flex: 1;

            .skeletonName {
              width: 60%;
              height: 0.875rem;
              border-radius: var(--border-radius-sm);
            }
          }
        }

        &.centered {
          width: 60%;
          margin: 0 auto;
        }
      }
    }
  }

  @media (max-width: var.$mobile-breakpoint) {
    .table {
      .nameColumn {
        width: 3.5rem;
      }

      .td {
        padding: 0.75rem 0.25rem;
        font-size: 0.75rem;
      }

      .thead th {
        font-size: 0.625rem;
        padding-bottom: 0.5rem;
      }
    }
  }
}

