@use '@/styles/typography.scss' as types;

.transferItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.875rem;
  border-bottom: 1px solid var(--gray-100);

  .details {
    display: flex;
    gap: 0.9375rem;
    align-items: center;

    .avatar {
      width: 2.0625rem;
      height: 2.0625rem;
      border-radius: var(--border-radius-circle);
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--gray-100);

      img {
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius-circle);
        object-fit: cover;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 0.4375rem;

      .name {
        @include types.font-14-semibold;
        color: var(--text-100);
      }

      .date {
        @include types.font-12-medium;
        color: var(--text-200);
      }
    }
  }

  .amount {
    @include types.font-16-semibold;
    color: var(--pure-black);
  }
}
