@use '@/styles/variables.scss' as var;

.dashboardPageContent {
  display: flex;
  flex: 1;
  margin-top: 1.875rem;
  gap: 2.5rem;
  justify-content: center;

  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.875rem;
    width: 44.75rem;
  }

  .sideContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.875rem;
    max-width: 22.125rem;
  }
}

@media (max-width: var.$desktop-breakpoint) {
  .dashboardPageContent {
    flex-direction: column;
    align-items: center;

    .mainContent {
      width: 100%;
    }

    .sideContent {
      max-width: 100%;
      width: 100%;
    }
  }
}
