@use '@/styles/typography.scss' as types;

.authHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .title {
    @include types.font-30-semibold;
  }

  .subtitle {
    @include types.font-16-regular;
    color: var(--text-300);
  }
}
