@use '@/styles/variables.scss' as var;

.headerActions {
  fill: var(--text-200);
}

.creditCardContainer {
  display: flex;
  flex-direction: column;

  div:last-child {
    margin: -3.75rem auto 0;
  }

  @media (max-width: var.$tablet-breakpoint) {
    align-items: center;
  }
}

.skeletonCard {
  width: 22.125rem;
  height: 13.125rem;
  padding: 1.125rem 1.75rem 2.4375rem;
  border-radius: var(--border-radius-xl);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3.125rem;

  @media (max-width: var.$tablet-breakpoint) {
    width: 18rem;
    height: 8rem;
    padding: 0.875rem 1.25rem 1.875rem;
  }
}
