@use '@/styles/typography.scss' as types;
@use '@/styles/variables.scss' as var;

.nameBusiness {
  display: flex;
  align-items: center;
  gap: 0.875rem;

  .avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--border-radius-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--gray-200);
    @include types.font-14-medium;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    min-width: 0;

    .name {
      @include types.font-14-medium;
      color: var(--text-100);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .business {
      color: var(--text-200);
      @include types.font-12-regular;
    }
  }

  @media (max-width: var.$mobile-breakpoint) {
    .texts {
      display: none;
    }
  }
}
