@use '@/styles/typography.scss' as types;

.chartWrapper {
  height: 12.5rem;
  margin-bottom: 0.0625rem;
  position: relative;
  z-index: 10;
}

.chartDividers {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.chartDivider {
  position: absolute;
  top: 0;
  bottom: 2rem;
  width: 1px;
  background-color: var(--chart-divider);
  pointer-events: none;
  transform: translateX(-50%);
}
