@use '@/styles/variables.scss' as var;

.sidebar {
  width: 15.625rem;
  height: 100%;
  background-color: var(--gray-100);
  padding: 1.875rem 1.5625rem 6.25rem 1.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform var(--transition);

  .body {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .menu {
      display: flex;
      flex-direction: column;
      gap: 0.125rem;
      overflow-y: auto;
    }
  }

  @media (max-width: var.$tablet-breakpoint) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(-100%);

    &.open {
      transform: translateX(0);
    }
  }
}

.backdrop {
  display: none;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;

  @media (max-width: var.$tablet-breakpoint) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    z-index: 999;
  }
}
